<html>
  <body
    id="{{ uuid }}"
    style="
      width: 90%;
      padding: 20px;
      background-color: whitesmoke;
      height: 80vh;
      line-height: 24px;
    "
  >
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <div
            class="container"
            style="
              width: 80%;
              padding: 20px;
              background-color: white;
              border-radius: 12px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            "
          >
            <h2
              class="title"
              style="
                display: inline;
                font-size: 32px;
                font-weight: bold;
                color: #42b883;
                cursor: pointer;
              "
            >
              KAN<span class="subtitle" style="color: #35495e">BANEON</span>
            </h2>
            <h3>Reset your password</h3>
            <div style="margin-top: 10px">
              <p>
                We heard that you lost your Kanbaneon password. Sorry about
                that!
                <br />
                But don’t worry! You can use the following button to reset your
                password:
              </p>
              <a href="{{ passwordResetLink }}">
                <button
                  style="
                    color: #fff;
                    background-color: #4096ff;
                    padding: 12px;
                    cursor: pointer;
                    border: 0px;
                    width: 200px;
                  "
                >
                  Reset your password
                </button>
              </a>
              <p>
                If you don’t use this link within 10 minutes, it will expire.
                <br />
                <a
                  href="https://kanbaneon.netlify.app/forgot?type=password"
                  target="_blank"
                  >Click here to get a new password reset link.</a
                >
              </p>
            </div>
            <footer>
              <h4>
                Regards, <br />
                The Kanbaneon Team
              </h4>
              <small
                >Sent at {{ time }}
                <br />

                <span style="color: gray"
                  >You're receiving this email because a password reset was
                  requested for your account.</span
                >
              </small>
            </footer>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
